* {
    --bg: rgb(54, 148, 255);
    --card:rgb(255, 247, 163);
}
header, footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
h1,h2,h3,h4,h5,h6, .positionDesc {
    font-family:Georgia, 'Times New Roman', Times, serif
}
main {
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#hero {
    text-align: center;
    justify-content: center;
}
#hero > p{
    width: 60%;
    margin: 5px auto;
}
nav{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
.flexContainer {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:2.5%;
}
.candidates {
    margin:auto;
    width: 70%;
    text-align: center;
}
.candidateProfile {
    background-color: var(--card);
    border-radius:20px;
    padding: 20px;
    margin: 5px;
    text-align: center;
}
.profPic {
    height: 200px;
}
.videoLink {
    text-decoration: none;
    background-color:var(--bg);
    color:var(--card);
    padding: 8px;
    border-radius:20px;
    border: 1px solid black;
}
.videoLink:hover {
    text-decoration: none;
    background-color:var(--card);
    border: solid 1px var(--bg);
    color:var(--bg);
    padding: 8px;
    border-radius:20px;
    transform: scale(2.5);
    filter: drop-shadow(0 2px 5px black);
}