* {
    --bg: rgb(169, 209, 255);
    --card:rgb(255, 247, 176);
    --link:rgb(205, 52, 52);
}
body {
    background-color: var(--card);
}
header, footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--card);
    text-align: center;
    margin: 0;
    gap: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header {
    position: relative;
}
h1,h2,h3,h4,h5,h6, .positionDesc {
    font-family:Georgia, 'Times New Roman', Times, serif
}
main {
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
}

#logo {
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    display: flex;
    flex-direction: row;
}
#countdown > span {
    font-family: Georgia, 'Times New Roman', Times, serif
}
#countdown {
    font-weight: bold;
    font-style: italic;
    font-size: 14pt;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border:2px solid var(--link);
    border-radius: 25px;
    padding: 12px;
}
#navMenu {
    position: fixed;
    padding: 10px 0;
    margin: 10px;
}
nav {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
}
nav > a {
    font-style:italic;
    font-weight: 700;
    text-decoration: none;
    color: var(--link);
    transition-duration: 0.5ms;
    font-size: 14pt;
}
nav > a:hover {
   transform: scale(1.2);
}
nav > a:visited {
    color: var(--link);
}
#backToTop {
    border: 2px solid var(--link);
    padding: 10px;
    border-radius: 20px;
    color:var(--card);
    background-color:var(--link);
}
#backToTop:hover {
    color: var(--link);
    background-color: var(--card);
}
.flexContainer {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:2.5%;
    justify-content: center;
}
.candidates {
    margin:15px auto;
    width: 70%;
    text-align: center;
    background-color: var(--bg);
    padding: 10px;
    border-radius: 20px;
}
.candidateProfile {
    background-color: var(--card);
    border-radius:20px;
    padding: 20px;
    margin: 5px;
    text-align: center;
}
.positionDesc {
    margin: 15px auto;
    width: 80%;
}
.profPic {
    height: 200px;
}
.videoLink {
    text-decoration: none;
    background-color:var(--bg);
    color:black;
    padding: 8px;
    border-radius:20px;
    border: 1px solid black;
}
.videoLink:hover {
    text-decoration: none;
    background-color:var(--card);
    border: solid 1px var(--bg);
    padding: 8px;
    border-radius:20px;
    transform: scale(2.5);
    filter: drop-shadow(0 2px 5px black);
}